name: Swift

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-13
          - macos-14
          - macos-15
          - macos-26

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Print version
        run: swift --version

      - name: Build
        run: swift build --verbose

      - name: Run executable
        run: swift run itunes-library-export --help

      - name: Run tests
        run: swift test --verbose
