name: Swift

on: [push]

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-14
          - macos-15
          - macos-26

    runs-on: ${{ matrix.os }}
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Print version
        run: swift --version

      - name: Build
        run: swift build --verbose

      - name: Run executable
        run: swift run itunes-library-export --help

      - name: Run tests
        if: matrix.os == 'macos-13' && matrix.os == 'macos-14'
        run: swift test --verbose
